<div class="container">
<div class="recipe-detail">
<%= form_tag sessions_url do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <%= submit_tag 'Login' %>
<% end %>
</div>
</div>
<!-- <nav class="btn"><%# link_to 'New User', new_user_path %></nav> -->
