/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*custom styles*/

body {

  background: -webkit-linear-gradient(top, #67A61B, #050505);
     background: -moz-linear-gradient(top, #67A61B, #050505);
      background: -ms-linear-gradient(top, #67A61B, #050505);
       background: -o-linear-gradient(top, #67A61B, #050505);
          background: linear-gradient(top, #67A61B, #050505);
}

.container {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  /*font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;*/
  margin: 0 auto;
  width: 1050px;
  height:100%;
  border: 3px solid orange;
  background: url("dishes.jpg")0 100% no-repeat;
  background-size:cover;
  /*background: -webkit-linear-gradient(top, #120275, #050505);
     background: -moz-linear-gradient(top, #120275, #050505);
      background: -ms-linear-gradient(top, #120275, #050505);
       background: -o-linear-gradient(top, #120275, #050505);
          background: linear-gradient(top, #120275, #050505);*/
}

/*.title {
  background: #000;
  width: 100%;
}*/

h1 {
  background-color: black;
  color: orange;
  padding: 0px;
  border:3px solid orange;
  font-size: 60px;
  font-family: "Copperplate", sans-serif;
  text-align: center;
  width: 100%;
}

/*h1 span {
  float: right;
  background-color: black;
  color: orange;
  padding-top: 1px;
  padding-right:1px;
  font-size: 14px;

}*/

.recipe-pics {
  border:3px solid black;
  width:700px;
  height:250px;
  margin: 40px auto;
  padding-top: 30px;
  background-color: black;
  color:orange;
  text-align: center;
  font-size: 30px
}

.recipe-picture {
  display: block;
  margin: 0 auto;

}

.recipe-detail {
  margin: 10px auto;
  padding: 20px;
  width: 50%;
  color: orange;
  background-color: black;
  font: 1em "Copperplate", sans-serif;
  border:3px solid orange;
}

nav {
  color: orange;
 /* padding-left: 300px;
  padding-right: 300px;*/
  width: 1010px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  border-top:3px solid orange;
  border-right:3px solid orange;
  border-left:3px solid orange;
}

ul {
  width: 60%;
  margin: 0 auto;
}

li {
  font: 1em "Copperplate", sans-serif;
  display: inline;
  padding:15px;
}

li a:link, li a:hover, li a:visited, li a:active, a {
  font: 1em "Copperplate", sans-serif;
  color: orange;
  text-decoration: none;
}

h2 {
  background-color: black;
  color: orange;
  padding: 20px;
  /*border:3px solid orange;*/
  font-size: 30px;
  text-align: center;
}


.recipe-list ul li{
  display: list-item;
  padding: 5px;
  color: orange;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  /*font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;*/
}

.recipe-list {
  width: 700px;
  margin: 0 auto;
  /*text-align: center;*/
  padding:20px;
  background: -webkit-radial-gradient(center, #67A61B, #050505);
     background: -moz-radial-gradient(center, #67A61B, #050505);
      background: -ms-radial-gradient(center, #67A61B, #050505);
       background: -o-radial-gradient(center, #67A61B, #050505);
          background: radial-gradient(center, #67A61B, #050505);
}

footer {
  width: 1050px;
  height: 12px;
  background-color: black;
}
